In [11]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

spark = SparkSession.builder \
    .appName("edwin_app") \
    .config("spark.some.config.option", "valor") \
    .getOrCreate()

In [7]:
df = spark.read.option('header', True).csv('./outputs/edwin/raw_stage/all_policies_table')

ASPECTOS GENERALES DEL DATASET

In [18]:
# Muestra de 5 primeros registros
df.show(5, False)

+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+
|Customer|Customer Lifetime Value|Response|Coverage|Education|Effective To Date|EmploymentStatus|Gender|Income|Location Code|Marital Status|Monthly Premium Auto|Months Since Last Claim|Months Since Policy Inception|Number of Open Complaints|Number of Policies|Renew Offer Type|Sales Channel|Total Claim Amount|Vehicle Class|Vehicle Size|Policy Type   |Policy      |State     |
+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+
|BU79786 |2763.519279            |No      |Basic   |Bachelor |2/24/11          |Employed        |F     |56274 |Suburban     |Married       |69                  |32                     |5                            |0                        |1                 |Offer1          |Agent        |384.811147        |Two-Door Car |Medsize     |Corporate Auto|Corporate L3|Washington|
|QZ44356 |6979.535903            |No      |Extended|Bachelor |1/31/11          |Unemployed      |F     |0     |Suburban     |Single        |94                  |13                     |42                           |0                        |8                 |Offer3          |Agent        |1131.464935       |Four-Door Car|Medsize     |Personal Auto |Personal L3 |Arizona   |
|AI49188 |12887.43165            |No      |Premium |Bachelor |2/19/11          |Employed        |F     |48767 |Suburban     |Married       |108                 |18                     |38                           |0                        |2                 |Offer1          |Agent        |566.472247        |Two-Door Car |Medsize     |Personal Auto |Personal L3 |Nevada    |
|WW63253 |7645.861827            |No      |Basic   |Bachelor |1/20/11          |Unemployed      |M     |0     |Suburban     |Married       |106                 |18                     |65                           |0                        |7                 |Offer1          |Call Center  |529.881344        |SUV          |Medsize     |Corporate Auto|Corporate L2|California|
|HB64268 |2813.692575            |No      |Basic   |Bachelor |2/3/11           |Employed        |M     |43836 |Rural        |Single        |73                  |12                     |44                           |0                        |1                 |Offer1          |Agent        |138.130879        |Four-Door Car|Medsize     |Personal Auto |Personal L1 |Washington|
+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+
only showing top 5 rows

In [10]:
# Informacion sobre el tipo de dato en cada columna 

df.printSchema()

root
 |-- Customer: string (nullable = true)
 |-- Customer Lifetime Value: string (nullable = true)
 |-- Response: string (nullable = true)
 |-- Coverage: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- Effective To Date: string (nullable = true)
 |-- EmploymentStatus: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- Location Code: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Monthly Premium Auto: string (nullable = true)
 |-- Months Since Last Claim: string (nullable = true)
 |-- Months Since Policy Inception: string (nullable = true)
 |-- Number of Open Complaints: string (nullable = true)
 |-- Number of Policies: string (nullable = true)
 |-- Renew Offer Type: string (nullable = true)
 |-- Sales Channel: string (nullable = true)
 |-- Total Claim Amount: string (nullable = true)
 |-- Vehicle Class: string (nullable = true)
 |-- Vehicle Size: string (nullable = true)
 |-- Policy Type: string (nullable = true)
 |-- Policy: string (nullable = true)
 |-- State: string (nullable = true)

In [17]:
# Conteo en busqueda de valores nulos

for column in df.columns:

    cont = df.filter(f.col(column).isNull()).count()
    print(f'NULLS VALUES IN COLUMN "{column}": {cont}')

NULLS VALUES IN COLUMN "Customer": 0
NULLS VALUES IN COLUMN "Customer Lifetime Value": 0
NULLS VALUES IN COLUMN "Response": 0
NULLS VALUES IN COLUMN "Coverage": 0
NULLS VALUES IN COLUMN "Education": 0
NULLS VALUES IN COLUMN "Effective To Date": 0
NULLS VALUES IN COLUMN "EmploymentStatus": 0
NULLS VALUES IN COLUMN "Gender": 0
NULLS VALUES IN COLUMN "Income": 0
NULLS VALUES IN COLUMN "Location Code": 0
NULLS VALUES IN COLUMN "Marital Status": 0
NULLS VALUES IN COLUMN "Monthly Premium Auto": 0
NULLS VALUES IN COLUMN "Months Since Last Claim": 0
NULLS VALUES IN COLUMN "Months Since Policy Inception": 0
NULLS VALUES IN COLUMN "Number of Open Complaints": 0
NULLS VALUES IN COLUMN "Number of Policies": 0
NULLS VALUES IN COLUMN "Renew Offer Type": 0
NULLS VALUES IN COLUMN "Sales Channel": 0
NULLS VALUES IN COLUMN "Total Claim Amount": 0
NULLS VALUES IN COLUMN "Vehicle Class": 0
NULLS VALUES IN COLUMN "Vehicle Size": 0
NULLS VALUES IN COLUMN "Policy Type": 0
NULLS VALUES IN COLUMN "Policy": 0
NULLS VALUES IN COLUMN "State": 0

In [26]:
# Estadisticas basicas del dataset

df.summary().show()

+-------+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------------------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+
|summary|Customer|Customer Lifetime Value|Response|Coverage|Education|Effective To Date|EmploymentStatus|Gender|            Income|Location Code|Marital Status|Monthly Premium Auto|Months Since Last Claim|Months Since Policy Inception|Number of Open Complaints|Number of Policies|Renew Offer Type|Sales Channel|Total Claim Amount|Vehicle Class|Vehicle Size|   Policy Type|      Policy|     State|
+-------+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------------------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+
|  count|    9134|                   9134|    9134|    9134|     9134|             9134|            9134|  9134|              9134|         9134|          9134|                9134|                   9134|                         9134|                     9134|              9134|            9134|         9134|              9134|         9134|        9134|          9134|        9134|      9134|
|   mean|    NULL|     8004.9404749870755|    NULL|    NULL|     NULL|             NULL|            NULL|  NULL| 37657.38000875848|         NULL|          NULL|   93.21929056273265|     15.097000218962119|           48.064593825268226|      0.38438800087584846|2.9661703525290126|            NULL|         NULL| 434.0887943128942|         NULL|        NULL|          NULL|        NULL|      NULL|
| stddev|    NULL|      6870.967608356933|    NULL|    NULL|     NULL|             NULL|            NULL|  NULL|30379.904733846317|         NULL|          NULL|  34.407967371786505|     10.073256571394245|           27.905990784265157|       0.9103835316135651|2.3901818097011316|            NULL|         NULL|  290.500091803114|         NULL|        NULL|          NULL|        NULL|      NULL|
|    min| AA10041|            10003.24729|      No|   Basic| Bachelor|           1/1/11|        Disabled|     F|                 0|        Rural|      Divorced|                 100|                      0|                            0|                        0|                 1|          Offer1|        Agent|          0.099007|Four-Door Car|       Large|Corporate Auto|Corporate L1|   Arizona|
|    25%|    NULL|            3992.583886|    NULL|    NULL|     NULL|             NULL|            NULL|  NULL|               0.0|         NULL|          NULL|                68.0|                    6.0|                         24.0|                      0.0|               1.0|            NULL|         NULL|        272.195232|         NULL|        NULL|          NULL|        NULL|      NULL|
|    50%|    NULL|            5780.182197|    NULL|    NULL|     NULL|             NULL|            NULL|  NULL|           33881.0|         NULL|          NULL|                83.0|                   14.0|                         48.0|                      0.0|               2.0|            NULL|         NULL|        383.797363|         NULL|        NULL|          NULL|        NULL|      NULL|
|    75%|    NULL|            8960.280213|    NULL|    NULL|     NULL|             NULL|            NULL|  NULL|           62302.0|         NULL|          NULL|               109.0|                   23.0|                         71.0|                      0.0|               4.0|            NULL|         NULL|             547.2|         NULL|        NULL|          NULL|        NULL|      NULL|
|    max| ZZ97035|            9988.787618|     Yes| Premium|   Master|           2/9/11|      Unemployed|     M|             99981|        Urban|        Single|                  99|                      9|                           99|                        5|                 9|          Offer4|          Web|             998.4| Two-Door Car|       Small|  Special Auto|  Special L3|Washington|
+-------+--------+-----------------------+--------+--------+---------+-----------------+----------------+------+------------------+-------------+--------------+--------------------+-----------------------+-----------------------------+-------------------------+------------------+----------------+-------------+------------------+-------------+------------+--------------+------------+----------+

In [29]:
col_categoricas = ['Response', 'Coverage', 'Education', 'EmploymentStatus', 'Gender', 'Location Code', 
                   'Marital Status', 'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size',
                   'Policy Type', 'Policy', 'State']

for column in col_categoricas:
    print(f'TOP 5 EN CATEGORIA: "{column}"')
    df.groupBy(f.col(column)).count().orderBy(f.col('count').desc()).show(5, False)

TOP 5 EN CATEGORIA: "Response"
+--------+-----+
|Response|count|
+--------+-----+
|No      |7826 |
|Yes     |1308 |
+--------+-----+

TOP 5 EN CATEGORIA: "Coverage"
+--------+-----+
|Coverage|count|
+--------+-----+
|Basic   |5568 |
|Extended|2742 |
|Premium |824  |
+--------+-----+

TOP 5 EN CATEGORIA: "Education"
+--------------------+-----+
|Education           |count|
+--------------------+-----+
|Bachelor            |2748 |
|College             |2681 |
|High School or Below|2622 |
|Master              |741  |
|Doctor              |342  |
+--------------------+-----+

TOP 5 EN CATEGORIA: "EmploymentStatus"
+----------------+-----+
|EmploymentStatus|count|
+----------------+-----+
|Employed        |5698 |
|Unemployed      |2317 |
|Medical Leave   |432  |
|Disabled        |405  |
|Retired         |282  |
+----------------+-----+

TOP 5 EN CATEGORIA: "Gender"
+------+-----+
|Gender|count|
+------+-----+
|F     |4658 |
|M     |4476 |
+------+-----+

TOP 5 EN CATEGORIA: "Location Code"
+-------------+-----+
|Location Code|count|
+-------------+-----+
|Suburban     |5779 |
|Rural        |1773 |
|Urban        |1582 |
+-------------+-----+

TOP 5 EN CATEGORIA: "Marital Status"
+--------------+-----+
|Marital Status|count|
+--------------+-----+
|Married       |5298 |
|Single        |2467 |
|Divorced      |1369 |
+--------------+-----+

TOP 5 EN CATEGORIA: "Renew Offer Type"
+----------------+-----+
|Renew Offer Type|count|
+----------------+-----+
|Offer1          |3752 |
|Offer2          |2926 |
|Offer3          |1432 |
|Offer4          |1024 |
+----------------+-----+

TOP 5 EN CATEGORIA: "Sales Channel"
+-------------+-----+
|Sales Channel|count|
+-------------+-----+
|Agent        |3477 |
|Branch       |2567 |
|Call Center  |1765 |
|Web          |1325 |
+-------------+-----+

TOP 5 EN CATEGORIA: "Vehicle Class"
+-------------+-----+
|Vehicle Class|count|
+-------------+-----+
|Four-Door Car|4621 |
|Two-Door Car |1886 |
|SUV          |1796 |
|Sports Car   |484  |
|Luxury SUV   |184  |
+-------------+-----+
only showing top 5 rows

TOP 5 EN CATEGORIA: "Vehicle Size"
+------------+-----+
|Vehicle Size|count|
+------------+-----+
|Medsize     |6424 |
|Small       |1764 |
|Large       |946  |
+------------+-----+

TOP 5 EN CATEGORIA: "Policy Type"
+--------------+-----+
|Policy Type   |count|
+--------------+-----+
|Personal Auto |6788 |
|Corporate Auto|1968 |
|Special Auto  |378  |
+--------------+-----+

TOP 5 EN CATEGORIA: "Policy"
+------------+-----+
|Policy      |count|
+------------+-----+
|Personal L3 |3426 |
|Personal L2 |2122 |
|Personal L1 |1240 |
|Corporate L3|1014 |
|Corporate L2|595  |
+------------+-----+
only showing top 5 rows

TOP 5 EN CATEGORIA: "State"
+----------+-----+
|State     |count|
+----------+-----+
|California|3150 |
|Oregon    |2601 |
|Arizona   |1703 |
|Nevada    |882  |
|Washington|798  |
+----------+-----+