In [1]:
import pandas as pd
import numpy as np
import time 
from datetime import datetime
import os
import sys

In [5]:
df_campanha = pd.read_csv('campanas.csv')
df_campanha

   ID_Campaña                 Nombre_Campaña
0        1001  Campaña-1-Marca B-Lanzamiento
1        1002  Campaña-2-Marca A-Lanzamiento
2        1003   Campaña-3-Marca A-Conciencia
3        1004   Campaña-4-Marca A-Conciencia
4        1005    Campaña-5-Marca C-Promoción

In [7]:
df_campanha.columns

Index(['ID_Campaña', 'Nombre_Campaña'], dtype='object')

In [9]:
df_campanha[["prefijo", "nombre", "marca", "tipo"]] = df_campanha["Nombre_Campaña"].str.split("-", expand = True)
df_campanha

,ID_Campaña,Nombre_Campaña,prefijo,nombre,marca,tipo
0,1001,Campaña-1-Marca B-Lanzamiento,Campaña,1,Marca B,Lanzamiento
1,1002,Campaña-2-Marca A-Lanzamiento,Campaña,2,Marca A,Lanzamiento
2,1003,Campaña-3-Marca A-Conciencia,Campaña,3,Marca A,Conciencia
3,1004,Campaña-4-Marca A-Conciencia,Campaña,4,Marca A,Conciencia
4,1005,Campaña-5-Marca C-Promoción,Campaña,5,Marca C,Promoción

In [10]:
df_grupo = pd.read_csv('grupos_anuncios.csv')
df_grupo

    ID_Grupo_Anuncios  ID_Campaña Nombre_Grupo_Anuncios
0                2001        1002       Grupo-1-Jovenes
1                2002        1002       Grupo-2-Mujeres
2                2003        1004       Grupo-3-Mujeres
3                2004        1005       Grupo-4-Mujeres
4                2005        1002       Grupo-5-Mujeres
5                2006        1004       Grupo-6-Mujeres
6                2007        1001       Grupo-7-Mujeres
7                2008        1004       Grupo-8-Mujeres
8                2009        1005       Grupo-9-Mujeres
9                2010        1003      Grupo-10-Hombres
10               2011        1001      Grupo-11-Jovenes
11               2012        1002      Grupo-12-Jovenes
12               2013        1001      Grupo-13-Jovenes
13               2014        1003      Grupo-14-Mujeres
14               2015        1001      Grupo-15-Hombres

In [ ]:
df_anuncio = pd.read_csv('anuncios.csv')
df_anuncio

    ID_Anuncio  ID_Grupo_Anuncios       Nombre_Anuncio        Plataforma
0         3001               2015      Anuncio-1-Video          Facebook
1         3002               2003      Anuncio-2-Video  Audience Network
2         3003               2010      Anuncio-3-Video          Facebook
3         3004               2014      Anuncio-4-Video          Facebook
4         3005               2003      Anuncio-5-Video          Facebook
5         3006               2006   Anuncio-6-Carrusel          Facebook
6         3007               2008   Anuncio-7-Carrusel          Facebook
7         3008               2015   Anuncio-8-Carrusel         Instagram
8         3009               2008   Anuncio-9-Carrusel          Facebook
9         3010               2003  Anuncio-10-Carrusel         Instagram
10        3011               2012     Anuncio-11-Video          Facebook
11        3012               2010     Anuncio-12-Video         Instagram
12        3013               2002     Anuncio-13-Video  Audience Network
13        3014               2002  Anuncio-14-Carrusel  Audience Network
14        3015               2004     Anuncio-15-Video  Audience Network
15        3016               2011  Anuncio-16-Carrusel         Instagram
16        3017               2013  Anuncio-17-Carrusel         Instagram
17        3018               2015  Anuncio-18-Carrusel         Instagram
18        3019               2004     Anuncio-19-Video          Facebook
19        3020               2003    Anuncio-20-Imagen  Audience Network
20        3021               2002  Anuncio-21-Carrusel         Instagram
21        3022               2008     Anuncio-22-Video          Facebook
22        3023               2011  Anuncio-23-Carrusel         Instagram
23        3024               2004  Anuncio-24-Carrusel  Audience Network
24        3025               2012    Anuncio-25-Imagen  Audience Network
25        3026               2005    Anuncio-26-Imagen  Audience Network
26        3027               2008  Anuncio-27-Carrusel         Instagram
27        3028               2005     Anuncio-28-Video          Facebook
28        3029               2014     Anuncio-29-Video  Audience Network
29        3030               2015     Anuncio-30-Video          Facebook
30        3031               2012    Anuncio-31-Imagen  Audience Network
31        3032               2013  Anuncio-32-Carrusel         Instagram
32        3033               2015    Anuncio-33-Imagen  Audience Network
33        3034               2013     Anuncio-34-Video          Facebook
34        3035               2003  Anuncio-35-Carrusel  Audience Network
35        3036               2013  Anuncio-36-Carrusel         Instagram
36        3037               2004    Anuncio-37-Imagen  Audience Network
37        3038               2010  Anuncio-38-Carrusel         Instagram
38        3039               2005     Anuncio-39-Video          Facebook
39        3040               2003  Anuncio-40-Carrusel  Audience Network
40        3041               2005  Anuncio-41-Carrusel         Instagram
41        3042               2011     Anuncio-42-Video          Facebook
42        3043               2004     Anuncio-43-Video          Facebook
43        3044               2010  Anuncio-44-Carrusel          Facebook
44        3045               2011  Anuncio-45-Carrusel  Audience Network
45        3046               2010  Anuncio-46-Carrusel         Instagram
46        3047               2011     Anuncio-47-Video         Instagram
47        3048               2009  Anuncio-48-Carrusel         Instagram
48        3049               2005    Anuncio-49-Imagen  Audience Network
49        3050               2012     Anuncio-50-Video         Instagram