In [1]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    avg,
    col,
    expr,
    month,
    sum,
    to_date,
    year,
)
from pyspark.sql.functions import round as spark_round
from pyspark.sql.window import Window

# Hola ssh -i ~/.ssh/airflow-key-no-pass ec2-user@54.161.47.74

In [2]:

# 1. Crear SparkSession
spark = SparkSession.builder.appName("campaign_consumption").getOrCreate()
spark

In [3]:
!ls

inputs	outputs  ruta  work

In [4]:


# 2. Leer CSV
df = spark.read.option("header", True).option("inferSchema", True).csv("./inputs/meta/")
df.printSchema()

root
 |-- campaign_id: integer (nullable = true)
 |-- ad_group_id: integer (nullable = true)
 |-- ad_group_name: string (nullable = true)
 |-- ad_id: integer (nullable = true)
 |-- ad_name: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- marca: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- audience: string (nullable = true)
 |-- ad_type: string (nullable = true)
 |-- impressions: integer (nullable = true)
 |-- clicks: integer (nullable = true)
 |-- spend: double (nullable = true)
 |-- interactions: integer (nullable = true)
 |-- conversions: integer (nullable = true)
 |-- quartile_25: integer (nullable = true)
 |-- quartile_50: integer (nullable = true)
 |-- quartile_75: integer (nullable = true)
 |-- completed: integer (nullable = true)

In [5]:

print(df.show(5))
# 3. Parsear fecha y extraer dimensiones
df = df.withColumn("date_parsed", to_date(col("date")))\
       .withColumn("year", year("date_parsed"))\
       .withColumn("month", month("date_parsed"))

# 4. Filtrar registros invÃ¡lidos (opcional pero recomendado)
df = df.filter((col("impressions") > 0) & (col("spend") >= 0) & (col("clicks") >= 0))
df.show(5)

+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+
|campaign_id|ad_group_id|ad_group_name|ad_id|ad_name| platform|               date|  marca|     tipo|audience| ad_type|impressions|clicks| spend|interactions|conversions|quartile_25|quartile_50|quartile_75|completed|
+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+
|       1005|       2002|      Group_2| 3001|   Ad_1| Facebook|2022-01-01 00:00:00|Brand B|Awareness|   Youth|   Video|       4638|   487|169.52|          87|          1|       2133|       2088|       1401|      919|
|       1002|       2010|     Group_10| 3002|   Ad_2| Facebook|2022-01-01 00:00:00|Brand B|   Launch|     Men|   Image|       3218|  1071|345.28|         332|         12|        608|        412|        259|      171|
|       1005|       2002|      Group_2| 3003|   Ad_3| Facebook|2022-01-01 00:00:00|Brand B|Awareness|   Youth|   Video|       1332|   149| 11.04|          55|         18|        621|        554|        377|      188|
|       1004|       2013|     Group_13| 3004|   Ad_4| Facebook|2022-01-01 00:00:00|Brand A|Promotion|     Men|   Image|        839|   101| 29.62|         496|         51|        274|        206|        159|      106|
|       1004|       2013|     Group_13| 3005|   Ad_5|Instagram|2022-01-01 00:00:00|Brand A|Promotion|     Men|Carousel|       3365|   724| 55.94|        2170|       1009|       1583|       1394|       1299|      735|
+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+
only showing top 5 rows

None
+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+-----------+----+-----+
|campaign_id|ad_group_id|ad_group_name|ad_id|ad_name| platform|               date|  marca|     tipo|audience| ad_type|impressions|clicks| spend|interactions|conversions|quartile_25|quartile_50|quartile_75|completed|date_parsed|year|month|
+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+-----------+----+-----+
|       1005|       2002|      Group_2| 3001|   Ad_1| Facebook|2022-01-01 00:00:00|Brand B|Awareness|   Youth|   Video|       4638|   487|169.52|          87|          1|       2133|       2088|       1401|      919| 2022-01-01|2022|    1|
|       1002|       2010|     Group_10| 3002|   Ad_2| Facebook|2022-01-01 00:00:00|Brand B|   Launch|     Men|   Image|       3218|  1071|345.28|         332|         12|        608|        412|        259|      171| 2022-01-01|2022|    1|
|       1005|       2002|      Group_2| 3003|   Ad_3| Facebook|2022-01-01 00:00:00|Brand B|Awareness|   Youth|   Video|       1332|   149| 11.04|          55|         18|        621|        554|        377|      188| 2022-01-01|2022|    1|
|       1004|       2013|     Group_13| 3004|   Ad_4| Facebook|2022-01-01 00:00:00|Brand A|Promotion|     Men|   Image|        839|   101| 29.62|         496|         51|        274|        206|        159|      106| 2022-01-01|2022|    1|
|       1004|       2013|     Group_13| 3005|   Ad_5|Instagram|2022-01-01 00:00:00|Brand A|Promotion|     Men|Carousel|       3365|   724| 55.94|        2170|       1009|       1583|       1394|       1299|      735| 2022-01-01|2022|    1|
+-----------+-----------+-------------+-----+-------+---------+-------------------+-------+---------+--------+--------+-----------+------+------+------------+-----------+-----------+-----------+-----------+---------+-----------+----+-----+
only showing top 5 rows

In [6]:

# 5. Agrupar y sumarizar
grouped_df = df.groupBy(
    "campaign_id", "ad_group_name", "ad_name", "platform",
    "marca", "tipo", "audience", "ad_type", "year", "month"
).agg(
        sum("impressions").alias("impressions"),
        sum("clicks").alias("clicks"),
        sum("spend").alias("spend"),
        sum("conversions").alias("conversions"),
        sum("completed").alias("completed")
    )
grouped_df.show(5)

+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+
|campaign_id|ad_group_name|ad_name|        platform|  marca|     tipo|audience| ad_type|year|month|impressions|clicks|             spend|conversions|completed|
+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+
|       1005|      Group_2|  Ad_36|Audience Network|Brand B|Awareness|   Youth|   Video|2022|    2|      76960|  8790|            2567.7|       2491|    12120|
|       1004|      Group_8|  Ad_21|       Instagram|Brand A|Promotion|   Youth|   Image|2022|    9|      71710|  4207|1081.7200000000003|       2001|     8707|
|       1003|      Group_7|  Ad_50|       Instagram|Brand A|   Launch|   Women|   Video|2022|   10|      91763|  8024|           2607.39|       4148|    12400|
|       1003|      Group_6|  Ad_49|        Facebook|Brand A|   Launch|   Women|   Image|2022|    5|      89649| 11829|3515.2600000000007|       2825|    10384|
|       1005|      Group_1|  Ad_30|       Instagram|Brand B|Awareness|   Youth|Carousel|2022|    6|      87353|  7434|           1606.96|       3978|    10555|
+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+
only showing top 5 rows

In [7]:

# 6. Calcular mÃ©tricas derivadas
derived_df = grouped_df.withColumn("CTR", col("clicks") / col("impressions"))\
                       .withColumn("CPC", col("spend") / col("clicks"))\
                       .withColumn("CPA", col("spend") / col("conversions"))\
                       .withColumn("ROI", col("conversions") / col("spend"))\
                       .withColumn("CPM", (col("spend") / col("impressions")) * 1000)\
                       .withColumn("completion_rate", col("completed") / col("impressions"))
derived_df.show(5)

+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+--------------------+-------------------+-------------------+------------------+------------------+-------------------+
|campaign_id|ad_group_name|ad_name|        platform|  marca|     tipo|audience| ad_type|year|month|impressions|clicks|             spend|conversions|completed|                 CTR|                CPC|                CPA|               ROI|               CPM|    completion_rate|
+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+--------------------+-------------------+-------------------+------------------+------------------+-------------------+
|       1005|      Group_2|  Ad_36|Audience Network|Brand B|Awareness|   Youth|   Video|2022|    2|      76960|  8790|            2567.7|       2491|    12120| 0.11421517671517671| 0.2921160409556314| 1.0307908470493776| 0.970128909140476| 33.36408523908524|0.15748440748440748|
|       1004|      Group_8|  Ad_21|       Instagram|Brand A|Promotion|   Youth|   Image|2022|    9|      71710|  4207|1081.7200000000003|       2001|     8707|0.058666852600753036| 0.2571238412170193| 0.5405897051474264|1.8498317494360828|15.084646492818301|0.12141960674940734|
|       1003|      Group_7|  Ad_50|       Instagram|Brand A|   Launch|   Women|   Video|2022|   10|      91763|  8024|           2607.39|       4148|    12400| 0.08744265117748984| 0.3249489032901296|  0.628589681774349|1.5908628935448859| 28.41439360090668| 0.1351307171735885|
|       1003|      Group_6|  Ad_49|        Facebook|Brand A|   Launch|   Women|   Image|2022|    5|      89649| 11829|3515.2600000000007|       2825|    10384|  0.1319479302613526|0.29717304928565397| 1.2443398230088498|0.8036389911414802| 39.21136878269697|0.11582951287800199|
|       1005|      Group_1|  Ad_30|       Instagram|Brand B|Awareness|   Youth|Carousel|2022|    6|      87353|  7434|           1606.96|       3978|    10555| 0.08510297299463097|0.21616357277374226|0.40396178984414277|2.4754816548016128| 18.39616269618674|0.12083156846359026|
+-----------+-------------+-------+----------------+-------+---------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+--------------------+-------------------+-------------------+------------------+------------------+-------------------+
only showing top 5 rows

In [8]:

# 7. Definir ventana de 3 meses mÃ³viles
window_spec = Window.partitionBy("platform", "marca", "tipo", "audience", "ad_type")\
                    .orderBy("year", "month")\
                    .rowsBetween(-2, 0)

# 8. MÃ©tricas mÃ³viles
final_df = derived_df.withColumn("CTR_3m", avg("CTR").over(window_spec))\
                     .withColumn("CPA_3m", avg("CPA").over(window_spec))\
                     .withColumn("ROI_3m", avg("ROI").over(window_spec))\
                     .withColumn("spend_3m", sum("spend").over(window_spec))\
                     .withColumn("conversions_3m", sum("conversions").over(window_spec))
final_df = final_df.withColumn("CTR_3m", spark_round(col("CTR_3m"), 4))\
                     .withColumn("CPA_3m", spark_round(col("CPA_3m"), 4))\
                     .withColumn("ROI_3m", spark_round(col("ROI_3m"), 4))\
                     .withColumn("spend_3m", spark_round(col("spend_3m"), 2))\
                     .withColumn("conversions_3m", spark_round(col("conversions_3m"), 2))
final_df = final_df.withColumn("last_updated_date", expr("date_sub(current_date(), 1)"))
final_df.show(5)

+-----------+-------------+-------+----------------+-------+------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------+------+------+--------+--------------+-----------------+
|campaign_id|ad_group_name|ad_name|        platform|  marca|  tipo|audience| ad_type|year|month|impressions|clicks|             spend|conversions|completed|                CTR|                CPC|               CPA|               ROI|               CPM|    completion_rate|CTR_3m|CPA_3m|ROI_3m|spend_3m|conversions_3m|last_updated_date|
+-----------+-------------+-------+----------------+-------+------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------+------+------+--------+--------------+-----------------+
|       1003|      Group_5|  Ad_20|Audience Network|Brand A|Launch|     Men|Carousel|2022|    1|      74335|  7885|           2457.84|       2990|     7528| 0.1060738548463039|  0.311710843373494|0.8220200668896321|1.2165153142596752| 33.06437075401897|0.10127127194457523|0.1061| 0.822|1.2165| 2457.84|          2990|       2025-05-15|
|       1003|      Group_5|  Ad_20|Audience Network|Brand A|Launch|     Men|Carousel|2022|    2|      89495| 11644| 3637.080000000001|       2778|    10940|0.13010782725291917|0.31235657849536247|1.3092440604751623|0.7637995314922958| 40.64003575618751|0.12224146600368736|0.1181|1.0656|0.9902| 6094.92|          5768|       2025-05-15|
|       1003|      Group_5|  Ad_20|Audience Network|Brand A|Launch|     Men|Carousel|2022|    3|      68281|  6762|           1679.48|       2056|     8862|0.09903194153571272|0.24837030464359658|0.8168677042801556|1.2241884392788245| 24.59659348867181|0.12978720288220735|0.1117|0.9827|1.0682|  7774.4|          7824|       2025-05-15|
|       1003|      Group_5|  Ad_20|Audience Network|Brand A|Launch|     Men|Carousel|2022|    4|      69200|  6462|1622.3700000000001|       1794|     8320|0.09338150289017341| 0.2510631383472609|0.9043311036789299|1.1057896780635736| 23.44465317919075|0.12023121387283237|0.1075|1.0101|1.0313| 6938.93|          6628|       2025-05-15|
|       1003|      Group_5|  Ad_20|Audience Network|Brand A|Launch|     Men|Carousel|2022|    5|      79361|  7116|            1697.3|       1764|    10227|0.08966620884313453|0.23851883080382236|  0.96218820861678|1.0392977081246686|21.387079295875807|0.12886682375474098| 0.094|0.8945|1.1231| 4999.15|          5614|       2025-05-15|
+-----------+-------------+-------+----------------+-------+------+--------+--------+----+-----+-----------+------+------------------+-----------+---------+-------------------+-------------------+------------------+------------------+------------------+-------------------+------+------+------+--------+--------------+-----------------+
only showing top 5 rows

In [9]:
final_df.printSchema()

root
 |-- campaign_id: integer (nullable = true)
 |-- ad_group_name: string (nullable = true)
 |-- ad_name: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- marca: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- audience: string (nullable = true)
 |-- ad_type: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- impressions: long (nullable = true)
 |-- clicks: long (nullable = true)
 |-- spend: double (nullable = true)
 |-- conversions: long (nullable = true)
 |-- completed: long (nullable = true)
 |-- CTR: double (nullable = true)
 |-- CPC: double (nullable = true)
 |-- CPA: double (nullable = true)
 |-- ROI: double (nullable = true)
 |-- CPM: double (nullable = true)
 |-- completion_rate: double (nullable = true)
 |-- CTR_3m: double (nullable = true)
 |-- CPA_3m: double (nullable = true)
 |-- ROI_3m: double (nullable = true)
 |-- spend_3m: double (nullable = true)
 |-- conversions_3m: long (nullable = true)
 |-- last_updated_date: date (nullable = false)

In [10]:

# 9. Exportar a Parquet particionado
final_df.write.mode("overwrite")\
    .partitionBy("platform", "year", "month")\
    .parquet("outputs/consumption_meta/parquet")

In [11]:
!ls

inputs	outputs  ruta  work